.strike {
  text-decoration: line-through;
}

.inline {
  display: inline-block;
}

.alert {
  border: 1px solid;
  margin-bottom: 5px;
}

.alert-error {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
}

.alert-success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}

.text-error {
  color: #c60f13;
}

.alert ul {
  margin: 15px 0 15px 0;
}

#todoList li {
  margin-top: 5px;
}
