<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Todo List</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <h1 th:text="#{content.title}">Todo List</h1>
    <hr />
    <span class="alert-success" th:if="${success}" th:text="${success}">
      todoTitle error
    </span>
    <form
      action="#"
      th:action="@{/todo/create}"
      th:object="${todoForm}"
      method="post"
    >
      <span class="text-error" th:errors="*{todoTitle}">
        validation error
      </span>

      <input type="text" th:field="*{todoTitle}" />
      <input type="submit" value="Submit" />
    </form>
    <div id="todoList">
      <ul>
        <li
          th:each="todo : ${todos}"
          th:class="${todo.finished} ? 'strike' : ''"
        >
          <th:block th:text="${todo.todoTitle}" />
          <form
            action="#"
            th:action="@{/todo/finish}"
            th:object="${todoForm}"
            method="post"
          >
            <input type="hidden" th:value="${todo.todoId}" name="todoId" />
            <input type="submit" value="Finish" />
          </form>

          <form
            action="#"
            th:action="@{/todo/delete}"
            th:object="${todoForm}"
            th:if="${todo.finished}"
            method="post"
          >
            <input type="hidden" th:value="${todo.todoId}" name="todoId" />
            <input type="submit" value="Delete" />
          </form>
        </li>
      </ul>
    </div>
  </body>
</html>
